<%- include('./partials/header') %> 

<h2>Let it out.</h2>
<form action="/vent" method="post" class="form-group">
    
    <label for="titleBox">Title</label>
    <input type="text" class="form-control" name="title" id="titleBox" required>

    <div class="content">
        <label for="contentBox">Content</label>
        <textarea name="content" class="form-control" cols="30" rows="10" id="contentBox"></textarea>   
    </div>

    <button type="submit" class="btn btn-primary" id="formVentButton">Submit</button>
</form>

</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>