<%- include('./partials/header.ejs') %> 
<h1>Why?</h1>
<p>To experiment with anonymity on a small-ish scale, and the freedom to post anything within reason.</p>
<h2>Core Functionaliy</h2>
<ul>
    <li>Anyone has the capability to post to the front page using the 'VENT' button on the navigation bar.</li>
    <li>After 48 hours all posts are wiped from the server. </li>
    <li>You have the ability to delete your own posts.*</li>
    <li>Each post will get it's own dedicated page for the duration of the 48 hour period.</li>
    <li>The front page will show 100 characters of content before giving you a "Read More" button.</li>
    <li>Newest posts are put at the top of the page.</li>
</ul>

<p id="disclaimer">*This will only work on the device you used to make the post.</p>
</br>
<h3>DISCLAIMER</h3>
<p>This application is shared by word of mouth and social media. There are very high chances that you're seeing posts from people you know.</p>
</br>
<p>I have the ability to remove posts in extreme scenarios. Please try to refrain from racism and hate speach.</p>
<p>I will NOT be posting ANYTHING to this webpage. If you have any questions, feel free to message me on social media.</p>
<p>itden.net is my personal domain, I use it for projects and other fun stuff!</p>
<p>-Daniel</p>
</br>
<h3>For the nerds</h3>
<p>A Node.js server using Express. All posted content is pushed into an array that is rendered onto the front page using EJS partials.</br>
    If you'd like to take a look at the code, check out the github page <a href="https://github.com/daniel-darocha/vent-app" target="_blank" rel="noopener noreferrer">here</a>.
</p>
<%- include('./partials/footer') %> 