<%- include('./partials/header.ejs') %> 
<h1>Why?</h1>
<p>This project started as a knowledge-check for some Javascript that I had been practicing. After spending some time creating web-apps that do not store permanent data, I decided to implement this simple experiment.</p>
<h2>Ok...So what is it?</h2>
<p>This site is a place where you can say anything in total anonimity.</p>
<p>As the person who's conducting this experiment, I'd like to personally see how people act when they are given this forum.</p>
<h2>Core Functionaliy</h2>
<ul>
    <li>Anyone has the capability to post to the front page using the 'VENT' button on the navigation bar.</li>
    <li>After 48 hours the webserver restarts, wiping all posts forever. </li>
    <li>All posts are permanent and can not be removed for the duration of the 48 hour period.</li>
    <li>Each post will get it's own dedicated page for the duration of the 48 hour period.</li>
    <li>The front page will show 100 characters of content before giving you a "Read More" button.</li>
    <li>Newest posts are put at the top of the page.</li>
</ul>

</br>
<p>This application is shared by word of mouth. There are very high chances that you're seeing posts from people you know.</p>
<p>I hope that we can all keep it civil and use this app as a place to get things out publically, in a way that you might not have had before.</p>

<h3>DISCLAIMER</h3>
<p>I will not tolerate racism, hate speech, and other forms of abusive content. If anything like that is found, the server will be restarted before the 48 hour period ends, and the experiment will restart.</p>
<p>I have no issue taking the site down for good if people can't be civilized.</p>
<p>I will NOT be posting ANYTHING to this webpage. If you have any questions, feel free to message me on social media.</p>
<p>itden.net is my personal domain, I use it for projects and other fun stuff!</p>
</br>
<h3>For the nerds</h3>
<p>This webpage is hosted on a Node.js server using Express. All posted content is pushed into an array that is rendered into the front page using EJS partials.</br>
    If you'd like to take a look at the code, check out the github page <a href="">here</a>.
</p>